environment:
    global:
        RUST_VERSION: stable

    matrix:
        - TARGET: x86_64-pc-windows-msvc
        OPENSSL_DIR: C:\OpenSSL-v111-Win32
        OPENSSL_LIBS: libssl_static:libcrypto_static
        OPENSSL_STATIC: 1

install:
    - ps: >-
        If ($Env:TARGET -eq 'x86_64-pc-windows-gnu') {
            $Env:PATH += ';C:\msys64\mingw64\bin'
        } ElseIf ($Env:TARGET -eq 'i686-pc-windows-gnu') {
            $Env:PATH += ';C:\msys64\mingw32\bin'
        }
    - curl -sSf -o rustup-init.exe https://win.rustup.rs/
    - rustup-init.exe -y --default-host %TARGET% --default-toolchain %RUST_VERSION%
    - set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
    - rustc -Vv
    - cargo -V

test_script:
    - cargo run

deploy:
  artifact: /.*\.zip/
  auth_token:
    secure: bh+7SLNiPo3LZohX5qJ+f/xhGJArnvMVJ/g+93VMhy1P+cGh12OuBSgjgB6nJ+Fj
  description: ''
  on:
    RUST_VERSION: stable
    appveyor_repo_tag: true
  provider: GitHub

cache:
  - C:\Users\appveyor\.cargo\registry
  - target

branches:
  only:
    # Release tags
    - /^v\d+\.\d+\.\d+.*$/
    - master

# Building is done in the test phase, so we disable Appveyor's build phase.
build: false